@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-package-brown: #ECC7A4;
  --colour-leaf-green: #C0DE5C;
  --colour-balloon-red: #FF9595;
  --colour-panda-black: #616161;
  --colour-bell-yellow: #EBE14E; 
  --colour-seabass-blue: #FFF4E9;
}
@layer base {
  html {
    font-family: 'Sour Gummy', sans-serif;
  }
  body {
    background-color: var(--colour-seabass-blue);
  }
  h1 {
    font-size: 3rem;
    color: var(--colour-bell-yellow);
  }
}

